* {margin: 0px; padding: 0px; vertical-align: middle; touch-action: manipulation;}

html, body {height: 100%; text-align: center; background: #f6f6f6; font-family: Arial; font-size: 16px; -webkit-user-select: none; overflow: hidden;}
input[type="text"] {border: none;}
.btn {position: relative; display: inline-block; padding: 0.4em; text-decoration: none; color: #fff; background-color: #5787de; border: 1px solid #345592;}
.input {position: relative; display: inline-block; padding: 0.4em; width: 5em; border: 1px solid #ccc;}
.input input {width: 100%;}

.lightbox {position: absolute; display: inline-block; padding: 1em; font-size: 20px; font-weight: bold; color: #444; background-color: #ffffff; border: 1px solid #ccc;}

.overlay {position: relative; display: inline-block; width: 300px; z-index: 3;}
.overlay .overlay_body {position: relative; display: block; padding: 1em 0em; background-color: #fff; border: 1px solid #ccc;}
.overlay .overlay_body .item {position: relative; display: block; padding: 0.2em; font-size: 14px;}
.overlay .end {position: absolute; display: inline-block; bottom: -48px; left: 50%; -webkit-transform: translateX(-50%);}

.mapa {position: relative; display: block; width: 100%; height: 100%; z-index: 1;}
.square {position: absolute; display: inline-block; padding: 1em; background-color: #fff;}
.busca {position: absolute; display: inline-block; left: 3em; top: 0.5em; padding: 0.7em; background-color: #ffffff; border: 1px solid #ccc; z-index: 2;}
.busca .linha {position: relative; display: inline-block; padding: 0.5em; font-size: 14px; color: #777;}
.busca .help {position: relative; display: inline-block; padding: 18px; background: url('../imgs/help.svg') center no-repeat; background-size: 30px; cursor: pointer;}

#bus_linhas {max-height: 800px; overflow: auto;}
.linhas_grupo {position: relative; display: block; margin-bottom: 50px; font-size: 14px;}
.linhas_grupo .linhas_head {position: relative; display: block; padding: 0.5em; background-color: #eee; border: 1px solid #ccc;}
.linhas_grupo .linhas_body {position: relative; display: block;}
.linhas_grupo .linhas_body .linhas_item {position: relative; display: block; padding: 0.5em; border-bottom: 1px solid #ccc; cursor: pointer;}

@media (max-width: 725px) {
}